.navbar-fixed-side {

  .navbar-brand, .navbar-brand-name {
    display: none;
  }

  .glyphicon {
    margin-left: 5px;
    font-size: 0.8em;
  }

  a {
    cursor: default;
  }

  @media (max-width: $grid-float-breakpoint) {
    margin-left: -15px;
    margin-right: -15px;
  }

  @media (min-width: $grid-float-breakpoint) {
    $navbar-default-link-hover-bg: darken($navbar-default-bg, 3%);
    $navbar-inverse-link-hover-bg: lighten($navbar-inverse-bg, 5%);
    $navbar-inverse-border: lighten($navbar-inverse-bg, 8%);
    $navbar-sub-color: lighten($navbar-default-border, 4%);

    position: fixed;
    margin: 0 -15px;
    height: 100vh;
    width: 260px;
    overflow: auto;
    border-top-width: 0;
    border-bottom-width: 0;
    border-radius: 0;

    .container, .container-fluid {
      width: auto;
      padding-left: 0;
      padding-right: 0;
    }

    .navbar-header {
      float: none;
    }

    .navbar-brand {
      display: block;
      float: none;
      margin: 0 auto;
      height: auto;
      padding: 0px;
      img {
        float: none;
        margin: 0 auto;
        width: 100%;
      }
    }

    .navbar-brand-name {
      display: block;
      padding: 10px 0;
      margin: 0;
      text-transform: uppercase;
      text-align: center;
      color: $navbar-default-brand-color;
    }

    > .container, > .container-fluid {
      .navbar-brand {
        margin-left: 0;
      }
    }

    .navbar-collapse {
      width: 100%;
      border-top: 1px solid $navbar-default-border;
    }

    .navbar-nav {
      float: none;
      margin: 0 (-$navbar-padding-horizontal);

      > li {
        float: none;
        > a {
          padding-top:    10px;
          padding-bottom: 10px;
          border-bottom: 1px solid $navbar-default-border;
        }
      }
    }

    .navbar-text {
      float: none;
      margin-left: 0;
      margin-right: 0;
    }

    .dropdown-menu {
      display: block;
    }

    .navbar-nav {
      .dropdown-menu {
        position: static;
        float: none;
        width: auto;
        margin-top: 0;
        background-color: transparent;
        border: 0;
        box-shadow: none;
        border-bottom: 1px solid $navbar-default-border;
        padding: 0;

        > li {
          > a {
            line-height: $line-height-computed;
            color: $navbar-default-link-color;
            padding-top:    10px;
            padding-bottom: 10px;
            padding-left: 30px;
            white-space: nowrap;
            border-bottom: 1px solid $navbar-sub-color;

            &:hover, &:focus {
              background-image: none;
            }
          }
        }

        > .active > a {
          background-color: $navbar-default-link-active-bg;
          border-color: $navbar-default-border;
          color: $navbar-default-link-active-color;
        }

        > .open {
          background-color: $navbar-default-link-active-bg;
          border-color: $navbar-default-border;
          color: $navbar-default-color
        }

      }



      .dropdown-toggle {
          &:hover, &:focus {
            background-color: $navbar-default-link-hover-bg;
            color: $navbar-default-link-hover-color;
            border-color: $navbar-default-border
        }
      }

      > li > a, .dropdown-menu > li > a {
        &:hover, &:focus {
          background-color: $navbar-default-link-hover-bg;
          color: $navbar-default-link-hover-color;
          border-color: $navbar-default-border;
        }
      }

    }

    .dropdown > .dropdown-toggle,
    .dropdown-menu > .dropdown-header {
      background-color: transparent !important;
      color: lighten($navbar-default-color, 15%) !important;
      font-size: 0.8em;
      text-transform: uppercase;
      border-bottom: none;
      padding-bottom: 0;
    }

  }
}
