@import 'navbar';

.content {

  padding: 10px 20px;

  @media (min-width: $grid-float-breakpoint) {
    padding: 60px 80px;
  }
}

footer {
  position: absolute;
  left: 0px;
  text-align: center;
  width: 100%;
  div {
    margin-top: 100px;
  }
}