// Override any bootstrap or bootswatch variables as you need:
$brand-info: #3399F3;
//$brand-info: #E49134;
$navbar-default-link-hover-color: $brand-info;
$navbar-default-link-hover-bg: white;

// Available Bootswatch Themes
//@import 'themes/spacelab';
@import 'themes/paper';
//@import 'themes/cosmo';
//@import 'themes/darkly';
//@import 'themes/simplex';
//@import 'themes/united';



