$navbar-default-link-hover-bg: white;

@import 'spacelab/variables';
@import '../bootstrap/bootstrap';
@import 'spacelab/bootswatch.scss';

// Custom SASS
@mixin bg-gradient($color){
  @include gradient-vertical-three-colors(lighten($color, 15%), $color, 50%, darken($color, 4%));
  filter: none;
  border: 1px solid darken($color, 10%);
}

.scrollable-container {
  @include bg-gradient($navbar-default-bg);
}