// Override any bootstrap or bootswatch variables as you need:
$brand-primary: #e49134 !default;
$brand-info: #e49134;
$navbar-default-link-hover-color: #EB9110;
$navbar-default-link-hover-bg: white;

$color-grey:#555;
$color-grey-light:#BBBBBB;
$color-grey-lighter:#F3F3F3;
$color-grey-2: #777777;
$color-orange-1: #EB9110;
$color-yellow-green:#BEB239;
$color-green-1:#84A93F;
$color-blue-1:#4586CD;
$color-red-1:#E52213;
$color-red-2:#D14652;

// Available Bootswatch Themes

//Default theme
@import 'themes/spacelab';
//@import 'themes/cosmo';
//@import 'themes/darkly';
//@import 'themes/simplex';
//@import 'themes/united';