{{ $currentPage := .CurrentPage }}
{{ $onArticle := eq .CurrentPage.Permalink .NavPage.Permalink }}
{{ $expanded := or (.CurrentPage.IsAncestor .NavPage) $onArticle }}
{{ $childLevel := add .Level 1 }}
{{ $children := slice }}
{{ $link := "unset" }}
{{ if .NavPage.Data.Pages }}
    {{ $link = .NavPage.RelPermalink }}
{{ end }}
{{if not .NavPage.Data.Pages }}
    {{ $link = (printf "%v#%v" .NavPage.Parent.RelPermalink .NavPage.Params.Slug ) }}
{{end}}
{{ $type := "article"}}
{{ if .NavPage.Data.Pages }}
    {{ if eq .Level 1 }}
        {{ $type = "section" }}
    {{ else }}
        {{ $type = "category" }}
    {{ end }}
{{ end }}
{{ range .NavPage.Data.Pages}}
    {{ $children = $children | append (partial "json-nav-item" (dict "CurrentPage" $currentPage "NavPage" . "Level" $childLevel )) }}
{{ end }}
{{ $base := dict "current" .CurrentPage.File.Filename "type" $type "id" .NavPage.File.Filename "title" .NavPage.Title "level" .Level "collapsed" false  "path" .NavPage.File.Filename "url" $link "roles" (slice (.NavPage.Params.Roles | default "All Roles")) "scope" (slice) "slug" .NavPage.Params.Slug }}
{{ if $children }}
    {{ $base = merge $base (dict "children" $children) }}
{{ end }}
{{ if eq .Level 1 }}
    {{ $base = merge $base (dict "alwaysExpanded" false "newTab" false) }}
{{ end }}
{{ return $base }}
